* {
  padding: 0;
  margin: 0;
}



/* copyright  */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(66, 66, 77);
  color: white;
  text-align: center;
  z-index: 999;
  /* Establece un índice z alto */
  transition: height .5s ease-in-out;
  /* Agrega una transición de altura con una duración de 0.5 segundos y un efecto ease-in-out */
}


.dark-mode .footer {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(255, 255, 255);
}

.derechos {
  transition: height 0.5s ease-in-out;
  /* Agrega una transición de altura con una duración de 0.5 segundos y un efecto ease-in-out */
}

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Con este br se hace un salto de linea donde se vera dos correos electronicos separados y tendran estas medidas */
.br-contactos {
  margin-top: -74px;
  margin-left: 452px;
}

.enlacesFooter{
  color: rgb(0, 0, 0);
}

.agradecimiento {
  display: none;
  margin-top: 6px;
  padding: 20px;
  text-align: center;
}

.agradecimiento h1 {
  font-size: 27px;
  font-family: sans-serif;
  margin-bottom: 10px;
  color: #fff;
}


.dark-mode .agradecimiento {
  background-color: #222222;
}

.dark-mode .agradecimiento h1 {
  color: #797979;
}


.copyright label {
  font-size: 18px;
  margin-left: -920px;
  /* Determina la posicion del txt copyright junto con los botones  */
}

.dropdown {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background: transparent;
  min-width: 160px;
  white-space: nowrap;
  top: 0px;
  /* determina la distancia en horizontal los correos */
  right: 0;
  /* Se agrega el apartado de la distancia los correos con el contactanos */
  left: 93px;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropbtn {
  background-color: inherit;
  color: rgb(81, 255, 0);
  padding: 0;
  border: none;
  height: 61px;
  cursor: pointer;
  font-size: 17px;
}

.dropdown-content a {
  color: black;
  padding: 25px 70px;
  /* Determina el tamano del button del los correos */
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #858585;
}

/* EL .dark-mode determina el color cuando el tema este cambiado de color black */
.dark-mode .dropdown-content a:hover {
  background-color: rgb(1, 0, 0);
  color: white;
}

/* Lista de los parciales para ingresar en ingles */

.slider {
  display: flex;
  height: auto;
  margin: auto;
  overflow: hidden;
  align-items: center;
}


.slider::after {
  position: absolute;
  right: 0;
  content: "";
  width: 23.958%;
  height: 110px;
  background: linear-gradient(90deg,
      hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0.99) 99%);

}

.slider .slide-track {
  display: flex;
  animation: scroll 35s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
  width: calc(240px * 10);
}

.slider .slide {
  display: flex;
}

.slider .slide img {
  width: 120px;
  height: 25px;
  padding: 5px;
  background-color: rgb(69, 69, 69);
  cursor: pointer;
  margin: 26px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-240px * 5));
    transform: translateX(calc(-240px * 5));
  }
}


.ecologia {
  width: 16%;
  height: 56%;
  background: rgba(128, 128, 128, 0.689);
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 150%;
  left: 36%;
  transform: translate(-50%, -50%);
/*   margin-top: 47.5%;
  margin-left: -13.9%; */
  border-radius: 25px;
}

.ecologia img {
  width: 90%;
  height: 200px;
  margin-top: 25%;
}

:not(.color-off) .ecologia:hover {
  background: linear-gradient(250deg, #33cc33, rgba(0, 208, 255, 0.712));
  /*  background-color: #33cc33; */
}
/* 
.btn {

  background: linear-gradient(250deg, rgba(0, 208, 255, 0.712), #33cc33);
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  width: 200px;
  height: 30px;
  font-family: fantasy;
  color: blue;
  margin-top: 55px;
}
 */
.spam-ecologia {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 11.3%;
  margin-top: 3%;
  z-index: 999;
  text-align: center;
  /* Reduce el tiempo cuando se quita el hover */
  transition: all 150ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.spam-ecologia img {
  border-radius: 15%;
  height: 415px;
}

.spam-ecologia h1 {
  font-size: 20px;
  position: fixed;
  margin-top: -50%;
  margin-left: 16%;
  color: rgb(8, 143, 1);
}

.ecologia:hover+.spam-ecologia {
  transition: all 600ms ease-in-out;
  opacity: 1;
  visibility: visible;
}






/* CALCULO */

.calculo {
  width: 16%;
  height: 56%;
  background: rgba(128, 128, 128, 0.689);
  position: absolute;
  text-align: center;
  top: 150%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

:not(.color-off) .calculo:hover {
  background: linear-gradient(250deg, red, blue);
}

.calculo img {
  width: 90%;
  height: 200px;
  margin-top: 55px;
}
/* 
.btn2 {

  background: linear-gradient(250deg, red, blue);
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  width: 200px;
  height: 30px;
  font-family: fantasy;
  color: white;
  margin-top: 20px;
} */

.spam-calculo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -13.2%;
  margin-top: 3%;
  z-index: 999;
  text-align: center;
  /* Reduce el tiempo cuando se quita el hover */
  transition: all 150ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.spam-calculo img {
  border-radius: 15%;
  height: 415px;
}

.spam-calculo h1 {
  font-size: 20px;
  position: fixed;
  margin-top: -50%;
  margin-left: 16%;
  color: rgb(0, 106, 255);
}

.calculo:hover+.spam-calculo {
  transition: all 600ms ease-in-out;
  opacity: 1;
  visibility: visible;
}




/* INGLES */

.ingles {
  width: 16%;
  height: 56%;
  background: rgba(128, 128, 128, 0.689);
  position: absolute;
  text-align: center;
  top: 150%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 25px;

}

:not(.color-off) .ingles:hover {
  background: linear-gradient(360deg, white, red, white,
      red, white,
      red, white,
      red, white,
      blue, white, blue, white);
}

.ingles img {
  width: 90%;
  height: 200px;
  margin-top: 55px;
}
/* 
.btn3 {
  width: 200px;
  height: 30px;
  border-radius: 25px;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.675), rgba(91, 91, 91, 0.609), rgba(255, 255, 255, 0.668),
      rgba(255, 255, 255, 0.675), rgba(91, 91, 91, 0.609), rgba(255, 255, 255, 0.668),
      rgba(255, 255, 255, 0.675), rgba(91, 91, 91, 0.609), rgba(255, 255, 255, 0.668),
      rgba(255, 255, 255, 0.675), rgba(91, 91, 91, 0.609), rgba(255, 255, 255, 0.668),
      blue, white, blue, white);
  font-size: 18px;
  color: rgb(0, 38, 255);
  font-family: fantasy;
  cursor: pointer;
  margin-top: 28px;
}
 */
.spam-ingles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -13.2%;
  margin-top: 3%;
  z-index: 999;
  text-align: center;
  /* Reduce el tiempo cuando se quita el hover */
  transition: all 150ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.spam-ingles img {
  border-radius: 15%;
  height: 415px;
}

.spam-ingles h1 {
  font-size: 20px;
  position: fixed;
  margin-top: -50%;
  margin-left: 16%;
  color: rgba(86, 110, 122, 255);
}

.ingles:hover+.spam-ingles {
  transition: all 600ms ease-in-out;
  opacity: 1;
  visibility: visible;
}


/* FISICA */

.fisica {

  width: 16%;
  height: 56%;
  background: rgba(128, 128, 128, 0.689);
  position: absolute;
  text-align: center;
  top: 150%;
  left: 86.9%;
  transform: translate(-50%, -50%);
  border-radius: 25px;

}

.fisica img {
  width: 90%;
  height: 200px;
  margin-top: 55px;
}

:not(.color-off) .fisica:hover {
  background: linear-gradient(300deg, red, green, blue, orangered,
      red, green, blue, orange);
}
/* 
.btn5 {
  background: linear-gradient(300deg, rgba(255, 0, 0, 0.638), rgba(0, 128, 0, 0.638), rgba(0, 0, 255, 0.638), rgba(255, 68, 0, 0.638),
      rgba(255, 0, 0, 0.638), rgba(0, 128, 0, 0.638), rgba(0, 0, 255, 0.638), rgba(255, 166, 0, 0.638));
  font-size: 18px;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  font-family: fantasy;
  cursor: pointer;
  color: white;
  margin-top: 55px;
} */


.spam-fisica {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 11.3%;
  margin-top: 3%;
  z-index: 999;
  text-align: center;
  /* Reduce el tiempo cuando se quita el hover */
  transition: all 150ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.spam-fisica img {
  border-radius: 15%;
  height: 415px;
}

.spam-fisica h1 {
  font-size: 20px;
  position: fixed;
  margin-top: -50%;
  margin-left: 16%;
  color: rgba(29, 31, 34, 255);
}

.fisica:hover+.spam-fisica {
  transition: all 600ms ease-in-out;
  opacity: 1;
  visibility: visible;
}

