body {
    text-align: center;
    background-image: url("https://image.jimcdn.com/app/cms/image/transf/dimension=171x1024:format=png/path/s55bb1df251c9c181/image/i2341e9a8b0a44fe0/version/1420761384/image.png");
    background-size: 700px 700px;
/*     background-position: center;
    margin-top: 45%; */
    background-position: 420px 10px;
    background-repeat: no-repeat;
  }